.box-personnel,
.box-video,
.banner-box-one {
    position: relative;
    overflow: hidden;
}
.box-personnel::before,
.box-video::before,
.banner-box-one::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.box-personnel::before {
    background-image: url("/img/background/BG-1.webp");
}
.box-video::before {
    background-image: url("/img/background/Video-BG.webp");
}
.banner-box-one::before {
    background-image: url("/img/background/BG-banner-one.webp");
}
.box-video{
    min-height: 900px;
    margin-top: -35px;
}
.box-personnel {
    min-height: 1600px;
    margin-top: -23px;
}
.banner-box-one {
    min-height: 2050px;
    margin-top: -23px;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.title-personnel {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 900;
    color: #003E4D;
    margin: 25px;
}

.img-personnel {
    width: 200px;
    z-index: 1;
    height: 268px;
}

.personnel-box-group {
    margin-top: 47px;
}


.personnel-box-group-one,
.personnel-box-group-two {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.personnel-box-group-two {
    margin-top: 30px;
}

.personnel-box {
    display: flex;
}

.personnel-box-p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 27px;
}

.personnel-box-detail-ny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.personnel-box-detail-ny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #01A89E;
    color: #fff;
    padding: 3px 40px;
    border-radius: 86px;
}

.per-b-name {
    font-size: 33px;
    font-weight: 800;
}

.per-b-position {
    margin-top: -10px;
    font-size: 18px;
}

.per-b-tel,
.per-b-tel-p2 {
    background-color: #fff;
    padding: 2px 25px;
    margin-top: 10px;
    border-radius: 20px;
}

.personnel-box-p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 26px;
    position: relative;
    flex-wrap: nowrap;
    align-content: center;
}

.personnel-box-detail-p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #01A89E;
    color: #fff;
    border-radius: 50px;
    padding: 4px 40px;
    z-index: 2;
}

.person-box-background {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 300px;
    background: linear-gradient(to bottom, #8cc63e, #68d594);
    border-radius: 40px;
}

.personnel-box-group-two .per-b-name-p2 {
    padding: 4px 40px;
}

.banner-top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 51px;
    justify-content: center;
}
img.banner-top-img {
    width: 90%;
}
img.banner-top-img:hover {
    transform: scale(1.1);
}
.divider-line {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 155px 0;
    position: absolute;
}
.box-i {
    z-index: 5;
}
.box-video {
    min-height: 900px;
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.video-text {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-title {
    font-size: 90px;
    font-weight: 900;
}
.video-title {
    font-size: 90px;
    font-weight: 900;
}
.video-nameweb {
    font-size: 45px;
    font-weight: 600;
    margin-top: -45px;
}

.video-view {
    margin-top: 70px;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 30px;
    border: 3px solid #ccc;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.banner-smartcity-body-one {
    display: flex;
    margin: 50px 25px 0 25px;
}
img.banner-smartcity:hover ,
.banner-box-sbt-one:hover{
    transform: scale(1.02);
}
.banner-smartcity-body-two {
    margin-top: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.smartcity-four,
.box-sbt-one {
    position: absolute;
}
.smartcity-five {
    margin-top: 11px;
}
.smartcity-six {
    margin-top: 60px;
    gap: 530px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}